body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #adceff;
}

input[type='checkbox'] {
	width: 20px;
	height: 20px;
}

select {
	text-align: right;
	background-color: #2d4a00;
	height: 20px;
	border: 0;
	border-radius: 2px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type='checkbox']:checked {
	accent-color: #728a5b;
}

input[type='number'] {
	background-color: #2d4a00;
	height: 20px;
	border: 0;
	border-radius: 2px;
	color: white;
	font-family: monospace;
	font-size: 20px;
	text-align: right;
}

input[type='number']:disabled {
	background-color: rgba(127, 127, 127, 0.33);
}

option:checked {
	background-color: white;
}

button:disabled {
	background-color: rgba(58, 103, 41, 0.33) !important;
}

/* Levels */

.Levels {
	background: repeating-linear-gradient(
		45deg,
		#66ccff,
		#66ccff 100px,
		#6ec7f3 100px,
		#65c1ef 200px
	);
	width: 270px;
	height: 64vh;
	text-align: center;
	float: right;
	font-size: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	top: 0;
	right: 0;
	position: absolute;
}

.Levels div b {
	font-size: 42px;
	font-weight: 700;
}

.LevelSelect {
	background-color: #aad7ff;
}

.LevelsButton {
	background-color: #d8f2ff;
	border-radius: 7px;
	width: 86%;
	height: 6%;
	border: 0px;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 0 !important;
	margin: 0 !important;
}

.LevelsButtonDiv {
	display: flex;
  	justify-content: center;
  	align-content: center;
  	flex-direction: column;
	margin: 0 auto;
}

#LNDiv {
	height: 40%;
	margin-top: 5px;
	color: white;
	font-size: 25px;
	overflow-y: scroll;
}

.LNButton {
	color: white;
	border-radius: 5px;
	border: 0;
	margin: 4px 5px;
	width: 23%;
	font-size: 24px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition-duration: 0.2s;
}

.LevelsSwitch {
	background: linear-gradient(to right,#2e576c,#245168);
	background-color: #2e576c;
	text-align: center;
	color: white;
	border-radius: 5px;
	border: 0;
	width: 40%;
	font-size: 24px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition-duration: 0.2s;
}

.LevelsSwitch:hover {
	background: rgba(255, 255, 255, 0.743);
	color: #2e576c;
	transition-duration: 0.3s;
}

.LevelsSwitch.selected {
	background: rgba(210, 233, 255, 0.743);
	color: #2e576c;
	transition-duration: 0.3s;
}

.LevelsSwitch#star {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.LevelsSwitch#moon {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.h0LNColor { background-color: #003955; }

.h1LNColor { background-color: #552a00; }

.h2LNColor { background-color: #550010; }

.h3LNColor { background-color: #191919; }

.h4LNColor { background-color: #25264a; }

.h10LNColor { background-color: #382365; }

.LNButton:hover {
	background-color: #3d8eb7;
}

.LNSel {
	background-color: #0076b1;
}

/* Palette */

.PaletteDiv {
	background: repeating-linear-gradient(
		25deg,
		#768dff,
		#768dff 50px,
		#6279e8 100px,
		#425099 200px
	);
	height: 150px;
	width: calc(100% - 270px);
	font-size: 40px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	writing-mode: vertical-lr;
}

.PaletteStuff {
	vertical-align: top;
	width: calc(100% - 53px)
}

.PaletteItems {
	float: left;
	background: repeating-linear-gradient(
		45deg,
		#9cadff,
		#9cadff 100px,
		#9facf0 100px,
		#93a5fe 200px
	);
	height: 130px;
	padding: 0 0 0 14px;
	width: 100%;
	writing-mode: horizontal-tb;
	font-size: 25px;
	font-weight: 600;
	overflow-y: scroll;
	text-align: left;

	box-sizing: border-box;
}

.PaletteTabs {
	float: right;
	background-color: #c4cdff;
	height: 20px;
	margin: 0;
	padding: 0;
	width: 100%;
	writing-mode: horizontal-tb;
	font-size: 0
}

.PaletteTab {
	height: 100%;
	width: calc(16.666% - 10px);
	margin: 0;
	font-size: 13px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 0;
	float: left;
	transition-duration: 0.5s;
}

.PaletteTabTitle {
	padding-bottom: 10px;
	margin-left: 0;
	float: left, top;
	box-sizing: border-box;
}

.PaletteButton {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0);
	color: #eeeeee;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 0;
	padding: 4px;
	margin: 0;
}

.PaletteSectionA {
	padding: 0 0 0 0;
	box-sizing: border-box;
	float: left;
	margin: 8px 8px 8px 8px;
	padding: 2px 6px;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.1);
}

#PaletteCirclesTab {
	background-color: #ff9999;
}

#PaletteCirclesTab:hover {
	background-color: #ffbbbb;
}

#PaletteBlockersTab {
	background-color: #99ddff;
}

#PaletteBlockersTab:hover {
	background-color: #bbe9ff;
}

#PaletteWallsTab {
	background-color: #ff99fa;
}

#PaletteWallsTab:hover {
	background-color: #ffbbff;
}

#PaletteMiscTab {
	background-color: #ceff99;
}

#PaletteMiscTab:hover {
	background-color: #f5ffbb;
}

#PaletteAllTab {
	background-color: #ffd199;
}

#PaletteAllTab:hover {
	background-color: #ffe4bb;
}

.PaletteDisabled {
	opacity: 0.5;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

/* Menu */

.Menu {
	background: repeating-linear-gradient(
		45deg,
		#c3ff8a,
		#c3ff8a 100px,
		#b1ed79 100px,
		#b1ed79 200px
	);
	width: 270px;
	height: calc(100vh - 150px);
	text-align: center;
	float: left;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}

.Menu b {
	font-size: 50px;
}

.MenuArea {
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.075);
}

.MenuAreaLabel {
	float: left;
	margin: 0 5px 5px 0;
	font-weight: 500;
	width: 100%;
	text-align: left;
	text-indent: 15px;
}

.MenuAreaEDLabel {
	font-weight: 500;
	margin-right: 15px;
	float: right;
}

.MenuWHField {
	margin: 10px;
	box-sizing: border-box;
	padding-left: 15px;
	text-indent: -15px;
	margin: 5px 5px;
}

.MenuWHFieldNum {
	margin-left: 10px;
}

.MenuWHFieldCheckbox {
	margin-left: 0;
}

.MenuAreaField {
	float: right;
	margin: 10px;
	padding-left: 15px;
	text-indent: -15px;
	margin: 5px 5px;
}

.MenuTele {
	float: right;
	margin: 10px;
	padding-left: 15px;
	text-indent: -15px;
	margin: 5px 5px;
	width: 20% !important;
}

#MenuHeight {
	margin-left: 10px;
}

.MenuSectionDiv {
	width: 100%;
}

#MenuGoalAdd {
	width: 90%;
	background-color: #557427;
	border: 0;
	height: 25px;
	color: white;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 4px;
	margin-bottom: 20px;
}

.MenuGoal {
	background-color: rgba(0, 0, 0, 0.2);
	border: 0;
	padding: 5px 5px 10px 5px;
	margin: 10px;
	float: center;
	border-radius: 4px;
}

.MenuGoalRemove {
	background-color: #ff4444;
	border: 0;
	border-radius: 4px;
	color: white;
	width: 20px;
	height: 20px;
	font-size: 18px;
}

.MenuTab {
	height: 25px;
	width: 50%;
	margin: 0;
	font-size: 13px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 0;
	float: left;
	transition-duration: 0.5s;
	background-color: #2d4a00;
	color: white;
	border-bottom: #c3ff8a solid 1px;
	border-right: #c3ff8a solid 1px;
}

.MenuSelectedTab {
	background-color: #497a00;
}

.MenuInfo {
	background-color: rgba(0,0,0,0.15);
	margin-top: 40px !important;
	border-radius: 9px;
	width: 90%;
	margin: 0 auto
}

.MenuInfoSmall {
	background-color: rgba(0,0,0,0.15);
	margin-top: 20px !important;
	border-radius: 9px;
	width: 90%;
	margin: 0 auto
}

.MenuInfoBig {
	background-color: rgba(0,0,0,0.15);
	margin-top: 80px !important;
	border-radius: 9px;
	width: 90%;
	margin: 0 auto
}

/* Board */

.Board {
	top: 150px;
	left: 260px;
}

.BoardDiv {
	max-height: 743px;
	max-width: 1377px;
}

/* Tiles */

.Tiles {
	background: repeating-linear-gradient(
		45deg,
		#ffcc66,
		#ffcc66 100px,
		#edbc59 100px,
		#f2c15f 200px
	);
	width: 270px;
	height: 36vh;
	text-align: center;
	float: right;
	font-size: 50px;
	bottom: 0;
	right: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: absolute;
	overflow-y: scroll;
}

.TilesTile {
	background-color: rgba(255, 255, 255, 0.4);
	margin: 5px;
	border-radius: 8px;
}

.TilesRemove {
	margin: 5px;
}

.TilesDeselect {
	background-color: #ffe1a2;
	border-radius: 7px;
	width: 90%;
	height: 40%;
	border: 0px;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 4px;
}

#TilesButtonsDiv { font-size: 0px;}

/* For the unsupported browser message */

.oops {
	background: #66ccff;
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

	text-align: center;

	display: flex;
	justify-content: center;
 	align-items: center;
}

.oopsmessage {
	width: 90%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px !important;
}

.oopsrecommendation {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 35px !important;
}

/***/

input {
	font-size: 0;
}

/* Filter Dialog */

.FilterDialog {
	background: repeating-linear-gradient(
		40deg,
		#ffcc66,
		#ffcc66 100px,
		#edbc59 100px,
		#f2c15f 200px
	);
	border-radius: 8px;
    width: 80%;
    height: 80%;
    top: calc(50% - 40%);
    left: calc(50% - 40%);
    position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
}

.FilterDialogUnderlay {
	background-color: #000011aa;
	z-index: 50;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.FilterDialogOptions {
	float: right;
	padding: 15px 15px 15px 15px;
}

.FilterDialogOptions input[type='checkbox']:checked {
	accent-color: #ffe79e !important;
	width: 20px;
	height: 20px;
}

.FilterDialogOptions input[type='number'] {
	background-color: #996600;
	width: 200px;
	height: 25px;
	border: 0;
	border-radius: 2px;
	color: white;
	font-family: monospace;
	font-size: 20px;
	text-align: right;
}

.FilterDialogOptions input[type='number']:disabled {
	background-color: rgba(181, 144, 80, 0.865) !important;
}

.FilterDialog b {
	font-size: 35px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-left: 15px;
}

.FilterDialog label {
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 15px;
}

#FilterDialogTitle {
	font-size: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#FilterDialogClose {
	float: right;
	margin: 10px;
	width: 30px;
	height: 30px;
	font-size: 24px;
}

.FilterDialog hr {
	border-top: 3px solid #bd7b008f;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 2px;
}

.FilterDialog .TilesDeselect {
	width: 90%;
	height: 30px;
	text-align: center;
	margin: 20px;
}

/* Alert */

/* Filter Dialog */

.Alert {
	background: repeating-linear-gradient(
		40deg,
		#d9ff66,
		#d9ff66 100px,
		#d7ed59 100px,
		#cbf25f 200px
	);
	border-radius: 8px;
    width: 40%;
    height: 40%;
    top: calc(50% - 20%);
    left: calc(50% - 20%);
    position: absolute;

	font-size: 32px;
	padding: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}